# Python basics
__pycache__/
*.py[cod]
.venv/
.env

# Packaging / build
dist/
build/
*.egg-info/

# Test cache
.pytest_cache/

secrets/gee-sa.json
secrets/create_gee-sa_personal.sh

# Avoid files in tmp folder
tmp/

# Avoid files of gee_out folder
gee_out/

# Avoid log files
.log
