services:
  gee:
    build: ../src/llm_geoprocessing/app/plugins/gee
    environment:
      EE_PRIVATE_KEY_PATH: /keys/gee-sa.json
      POSTGIS_ENABLED: "true"
      POSTGIS_HOST: "postgis"
      POSTGIS_PORT: "5432"
      POSTGIS_DB: "geollm"
      POSTGIS_USER: "geollm"
      POSTGIS_PASSWORD: "geollm"
    volumes:
      - ../secrets/gee-sa.json:/keys/gee-sa.json:ro
    ports:
      - "8000:8000"

  postgis:
    image: postgis/postgis:16-3.4
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: geollm
      POSTGRES_USER: geollm
      POSTGRES_PASSWORD: geollm
    volumes:
      - ../.data/postgis:/var/lib/postgresql/data

  geollm:
    network_mode: host
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    image: llm-geoprocessing:dev
    working_dir: /app
    volumes:
      - ..:/app
      - ../gee_out:/gee_out
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ../.env:/app/.env
    env_file:
      - ../.env
    command: bash
    environment:
      GEE_PLUGIN_URL: http://localhost:8000
      GEO_OUT_DIR: /gee_out
      DISPLAY: ${DISPLAY}
      OMP_NUM_THREADS: 12
      OLLAMA_NUM_GPU_LAYERS: 1
      OLLAMA_MODEL: gemma3:12b-cloud
      OLLAMA_BASE_URL: http://localhost:11434
      OLLAMA_NUM_CTX: "32768"
      POSTGIS_ENABLED: "true"
      POSTGIS_HOST: "localhost"
      POSTGIS_PORT: "5432"
      POSTGIS_DB: "geollm"
      POSTGIS_USER: "geollm"
      POSTGIS_PASSWORD: "geollm"
      POSTGIS_SCHEMA: "public"
      POSTGIS_TABLE_PREFIX: "gee_output_"
    depends_on:
      - gee
      - postgis
